.chat-panel{
    background-color: #ADD7E7;
    padding-right: 0;
}

.messagePanel {
    padding-left: 0;
}

.rce-citem{
    background-color: mintcream;
}

.rce-citem-body--top-title {
    color: black;
    font-weight: bold;
}

.rce-citem-body {
    text-align: left;
}
.rce-container-mlist {

  height: 500px;
}
.rce-container-input {
  margin-left: 10px;
  background: inherit !important;
}
.rce-mlist {
    text-align: left;
}

.rce-mbox.rce-mbox-right {
    background-color: #EEDBDD !important;
}

.rce-mbox-right-notch {
    fill: #EEDBDD !important;
}

.rce-mbox.rce-mbox {
    background-color: #D2E8F6;
}

.rce-mbox-left-notch {
    fill: #D2E8F6;
}

.rce-input {
    border-radius: 0;
}
.rce-input.rce-input-textarea {
    background-color: gainsboro;
    border: 0.1vmin #CCCCCC solid;
    border-radius: 10px;
    overflow: hidden;
    height: 45px;
}



.chatButton {
    border-radius: 10%;
    background: #C7E6F2;
}
