@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f5f4;
}
.grey{
  color: grey;
}
.w80 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.pointer:hover{
  cursor: pointer;
}
.query{
  display: grid;
  height: 50px;
  border-radius: 25px;
  background: #80ccff;

  padding: 10px 30px 10px 30px;
  min-width: 1300px;
  grid-template-columns: 60px 1.5fr 40px 1.5fr 30px 1fr 50px 0.5fr 0.5fr;
}
.query_in{
  display: grid;
  background: white;
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
  border-radius: 25px;
  color: grey;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.query_inn{
  background: white;
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
  border-radius: 25px;
  color: grey;

}
.hidden{
  display:none;
}
.flee{
  display:flex;
  justify-content: center;
}
.flee_buyer{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}
.height_50{
  height: 50px;
}
.vertflee{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.autocomplete-wrapper{
  width: 300px;
}
.errorMessage {
  color: red;
}
.autocomplete-result{
  background-color: white;
}

.autocomplete-result:hover{
  background-color: #b3e6ff;
}

.showing {
  display: flex;
  height: 250px;
  font-size: 50px;
  align-items: center;
  background-position: center center !important;
  color: white;
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/11/02/08/cabinbaggage.jpg')
}
.fly2u{
    font-family: 'Righteous', cursive;
}
.marginZero{
  margin-right: 0 !important;
}
.gridUserIndex{
  display: grid;
  width: 1000px;
  height: 300px;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.nav-link{
  display: flex !important;
  height: 100% !important;
}
.gridUserIndex>div{
  background-color: white;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  border-radius: 10px;
  border: 1px solid grey;
}
.gridUserIndex>div:hover{
  background-color: #EEEEEE;
}
.showing_sml {
  display: flex;
  height: 250px;
  font-size: 50px;
  align-items: center;
  background-position: center center !important;
  color: white;
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/11/02/08/cabinbaggage.jpg')
}


.mainGrid {
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-columns: 20fr 1fr 20fr;
}

.nbb{
  font-family: 'Righteous', cursive;
  font-size: 40px;
}
.navSearch {
  width: 200px;
}
.white-box { width: 90%; height: 100%; margin-top: 50px; margin-left: auto; margin-right: auto;

background: rgba(255,255,255,0.9);
padding: 30px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
box-shadow: 0 1px 2px rgba(0,0,0,0.15);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
}
